<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <% include ./partials/stylesheets %>
  </head>
  <body>
    <div id="root"></div>
    <% include ./partials/scripts %>
  </body>
</html>
