html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  overflow: auto;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 100;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 100;
}

h3 {
  font-size: 28px;
  margin-top: 0px;
}

h4 {
  font-size: 24px;
  margin-top: 0px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 20px;
}

p {
  font-weight: 300;
}

/*.mdl-button {
  font-family: 'Lato', sans-serif;
}*/

#root {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  overflow-x: hidden;
}

#navbar {
  position: fixed;
  left: 0%;
  width: 100%;
  height: 100%;
  top: 0%;
  // border: 1px dotted black;
}

#menu-button {
  position: absolute;
  left: 8px;
  top: 0px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  // border: 1px solid pink;
}
#mobile-menu {
  position: absolute;
  width: 200px;
  top: 0px;
  line-height: 50px;
  text-align: left;
  // border: 1px dotted black;
  z-index: 5;
  // background: white;
}

#logo {
  position: absolute;
  left: 50px;
  width: 50px;
  top: 0%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  // border: 1px solid red;
}

#site-title {
  position: absolute;
  left: 100px;
  top: 0%;
  padding-top: 1px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  // border: 1px solid blue;
}

#space {
  position: absolute;
  right: 800px;
  top: '0%';
  height: 50px;
  width: 300px;
  // border: 1px solid grey;
}

#movable {
  position: absolute;
  top: '0%';
  height: 50px;
  // border: 1px solid violet;
}

#search {
  position: absolute;
  top: 0%;
  height: 50px;
  // border: 1px solid green;
}
#site-language {
  position: absolute;
  top: 0%;
  height: 50px;
  line-height: 50px;
  text-align: right;
  // border: 1px solid orange;
}

.navItem {
  float: right;
  height: 50px;
  line-height: 50px;
  /*text-align: center;*/
}

.mdl-textfield__label::after {
  background-color: grey;
}

// #editor-container {
//   position: absolute;
//   left: 200px;
//   width: 100%;
//   // max-width: 650px;
//   top: 200px;
//   height: 100%;
// }

.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 16px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 16px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  margin: 16px 0;
  padding: 8px 24px;
  quotes: none;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #ccc;
  content: open-quote;
  font-size: 0em;
  line-height: 0em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 24px;
}

.RichEditor-controls {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.RichEditor-activeButton {
  color: #5890ff;
}

.container {
  // display: flex;
  // justify-content: space-between;
  position: absolute;
  width: 100%;
  // height: 50%;
}

.cont-box {
  left: 0%;
  border: 1px dotted black;
  /*border: 1px solid black;*/
}

.mov-box {
  height: 100%;
  /*border: 1px solid yellow;*/
}

.article {
  position: absolute;
  height: 100%;
  top: 0%;
  overflow-y: hidden;
}


.cover {
  position: absolute;
  height: 100%;
  top: 0%;
}

.coverLeft {
  left: 0%;
  width: 25%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
}
.coverBottom {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6));
}
.coverRight {
  right: 0%;
  width: 25%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
}

.myFlex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.mdi {
  font-size: 24px;
}
